body {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

/* Logotype */
h1 {
  letter-spacing: 3px;
  color: #1E2D37;
  font-size: 24px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

/* Article information like date and time */
h4 {
  font-size: 10px;
}

/* Header for aticles */
h2 {
  font-size: 16px;
}

/* Foodora text styling */
h6 {
  letter-spacing: 3px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  margin: 1%;
}

/* Text in artickle */
p {
  font-size: 13px;
}

@media screen and (min-width: 400px) {
  nav {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Logotype */
    /* Menu */
    /* Search bar */
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    display: inline-block;
    padding: 20px;
  }
  nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #1E2D37;
  }
  nav .nav-item1 {
    max-width: 240px;
    padding-left: 10%;
  }
  nav .nav-item2 {
    position: relative;
    right: 19%;
  }
  nav .nav-item3 {
    right: 1%;
  }

  /* Menu hover */
  a:hover {
    color: blue;
  }

  /* Search box styling */
  input[type=search] {
    border-radius: 10px;
    padding: 5px;
  }

  .search-container {
    padding: 20px;
    max-height: 20px;
  }
  .search-container img {
    position: relative;
    bottom: 66px;
    left: 5px;
    width: 20px !important;
  }
  .search-container p {
    position: relative;
    bottom: 35px;
    left: 30px;
  }
  .search-container .search-container:focus img {
    display: none;
  }
  .search-container .search-container:focus p {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
  .grid-container .grid-item {
    position: relative;
  }
  .grid-container .grid-item .textInSmallArticle {
    height: 100%;
    position: absolute;
    bottom: 0px;
    margin-left: 180px;
    color: #1E2D37;
  }
  .grid-container .grid-item .textInSmallArticle h2 {
    margin-top: 0px;
  }
  .grid-container .grid-item .textInArticle {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .grid-container .grid-item .textInArticle h2 {
    padding-left: 30px;
    margin: 0px;
  }
  .grid-container .grid-item .textInArticle h4 {
    padding-left: 30px;
    margin-bottom: 2px;
  }
  .grid-container .grid-item .textInArticle p {
    margin-top: 5px;
    padding-left: 30px;
  }
  .grid-container .grid-item .textInArticle .rightside-readmore {
    position: relative;
    left: 82%;
  }
  .grid-container .grid-item .textInArticle .rightside-readmore h4 {
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .grid-container .grid-item .textInArticle .rightside-readmore a {
    color: #ffffff;
    text-decoration: none;
  }
  .grid-container .grid-item .textInArticle .rightside-readmore-small {
    position: relative;
    left: 70%;
  }
  .grid-container .grid-item .textInArticle .rightside-readmore-small h4 {
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .grid-container .grid-item .textInArticle .rightside-readmore-small a {
    color: #ffffff;
    text-decoration: none;
  }
  .grid-container .article1 {
    color: #ffffff;
    min-height: 550px;
    min-width: 650px;
    grid-column: 1/span 2;
    grid-row: 1/span 4;
  }
  .grid-container .article1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* fit image in container */
  }
  .grid-container .article2 {
    color: #ffffff;
    min-height: 300px;
    min-width: 400px;
    grid-column: 3;
    grid-row: 1/span 2;
  }
  .grid-container .article2 img {
    width: 100%;
    height: 100%;
  }
  .grid-container .article3 {
    color: #ffffff;
    min-height: 140px;
    min-width: 180px;
    grid-column: 3;
    grid-row: 3;
  }
  .grid-container .article3 img {
    width: 170px;
    height: 100%;
  }
  .grid-container .article4 {
    color: #ffffff;
    min-height: 140px;
    min-width: 180px;
    grid-column: 3;
    grid-row: 4;
  }
  .grid-container .article4 img {
    width: 170px;
    height: 100%;
  }

  .arrow-a:hover .readmore-arrow {
    left: 10px;
    position: relative;
  }

  .readmore-arrow {
    left: 0px;
    width: 100px;
    transition: left 0.7s;
  }

  .content-container {
    max-width: 1064px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }

  .foodora-ad {
    width: 100%;
    max-height: 140px;
    background-color: black;
  }

  .textInImage {
    position: relative;
    bottom: 150px;
  }
  .textInImage h1 {
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
  }

  .cropped {
    width: 1064px;
    /* width of container */
    height: 140px;
    /* height of container */
    object-fit: cover;
    /* fit image in container */
    background-color: #1E2D37;
  }
}
/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media only screen and (max-width: 375px) {
  img {
    width: 100%;
  }

  .search-container {
    float: none;
  }

  .nav-item1 {
    padding-left: 0px !important;
    max-height: 80px;
  }
  .nav-item1 .hamburger {
    width: 50px;
    position: relative;
    left: 280px;
    bottom: 30px;
  }
  .nav-item1 .hamburger img {
    max-width: 50px;
  }

  .nav-item2 {
    display: none;
  }

  .nav-item3 {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }
  .grid-container .grid-item {
    position: relative;
    width: 100%;
  }
  .grid-container .article1-mobile {
    grid-column: 1;
    grid-row: 1;
  }
  .grid-container .article2-mobile {
    grid-column: 1;
    grid-row: 2;
  }
  .grid-container .article3-mobile {
    grid-column: 1;
    grid-row: 3;
  }
  .grid-container .article4-mobile {
    grid-column: 1;
    grid-row: 4;
  }

  .content-container {
    padding-top: 10px;
  }
  .content-container .cropped {
    width: 100%;
  }
}

/*# sourceMappingURL=mystyle.css.map */
