//=======================================================================
// Vars for headings, p etc...

$weight-regular: normal ;
$weight-bold: bold ;
$logotype: 24px;
$article-header: 16px;
$article-body: 13px;
$article-info:10px;
$color-white: #ffffff;
$color-blueblack: #1E2D37;
$article-overlay: rgb(0,0,0, 0.7);
$font-lora: 'Lora', serif;
$font-oxygen: 'Oxygen', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;
body{
    margin:0px;
}
html{
    scroll-behavior: smooth;
}

h1{
    letter-spacing: 3px;
    color:$color-blueblack;
    font-size: $logotype;
    font-weight:$weight-bold;
    font-family: $font-ubuntu;
    }
h4{
    font-size: $article-info;
}
h2{
    font-size:$article-header;
}
h6{
    letter-spacing: 3px;
    color:$color-white;
    font-size: $logotype;
    font-weight:$weight-bold;
    font-family: $font-ubuntu;
    margin: 1%;
}
p{
    font-size:$article-body;
}


@media screen and (min-width: 400px){

        nav {
        position: absolute;
        width: 100%;
        left: 0px;
        right: 0px;
        background: $color-white;
        box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);

            ul {
            margin: 0;
            padding: 0;
            list-style: none;
            }

            li {
            display: inline-block;
            padding:20px;
            }

            a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: $color-blueblack
            }
            .nav-item1{
                max-width: 240px;
                padding-left:175px;
            }
            .nav-item2{
                position:relative;
                right:190px;
            }
            .nav-item3{
                right:130px;
            }
        }

        a:hover{
            color: blue;
        }




    /* Search box styling */
    input[type=search]{
        border-radius: 10px;
        padding: 5px;
    }

    .search-container{
        padding:20px;
        max-height:20px;
        img{
        position: relative;
        bottom:66px;
        left:5px;
        width: 20px !important;
        }
        p{
            position: relative;
            bottom:35px;
            left:30px;
        }
        .search-container:focus{
            img{
                display: none;
            }
            p{
                display: none;
            }
        }
    }

        .hamburger{
            display: none;
        }




    //=======================================================================
    // CSS properties for the Grid container, grid item and single Item
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;

        .grid-item{
            position: relative;

            //CSS class & properties for text inside the article to handle positioning
            .textInSmallArticle{
                height: 100%;
                position: absolute;
                bottom: 0px;
                margin-left: 180px;
                color: $color-blueblack;
                h2{
                    margin-top: 0px;
                }
            }

            .textInArticle{
                width: 100%;
                position: absolute;
                bottom: 0px;
                background-color: $article-overlay;

                h2{
                    padding-left:30px;
                    margin:0px;
                }
                h4{
                    padding-left:30px;
                    margin-bottom: 2px;
                }
                p{
                    margin-top: 5px;
                    padding-left:30px;
                }

                .rightside-readmore{
                    position: relative;
                    left:82%;
                    h4{
                        padding-left: 0px;
                        margin-bottom: 0px;
                    }
                    a{
                        color: $color-white;
                        text-decoration: none;
                    }

                }
                .rightside-readmore-small{
                    position:relative;
                    left:70%;
                    h4{
                        padding-left:0px;
                        margin-bottom: 0px;
                    }
                    a{
                        color: $color-white;
                        text-decoration: none;
                    }
                }
            }
        }

        .article1{
            color: $color-white;
            min-height: 550px;
            min-width: 650px;
            grid-column: 1 / span 2;
            grid-row: 1 / span 4;
            img{
                width:100%;
                height:100%;
                object-fit: cover; /* fit image in container */
            }

        }
        .article2{
            color: $color-white;
            min-height: 300px;
            min-width:400px;
            grid-column: 3;
            grid-row: 1 / span 2;
            img{
                width:100%;
                height:100%;
            }
        }
        .article3{
            color: $color-white;
            min-height:140px;
            min-width:180px;
            grid-column:3;
            grid-row: 3;
            img{
                width:170px;
                height:100%;
            }
        }
        .article4{
            color: $color-white;
            min-height:140px;
            min-width:180px;
            grid-column:3;
            grid-row: 4;
            img{
                width:170px;
                height:100%;
            }
        }
    }



    //=======================================================================================
    //CSS propertie for animating the arrow when hoovered.
    .arrow-a:hover{
        .readmore-arrow{
            left:10px;
            position: relative;
        }
    }
    .readmore-arrow{
        left:0px;
        width:100px;
        transition: left .7s;
    }



    //======================================================================
    //CSS class & properties for the content container

    .content-container{
    max-width: 1064px;
    margin-left: auto;
    margin-right: auto;
    padding-top:100px;
    }

    .foodora-ad{
        width: 100%;
        max-height:140px;
        background-color: black;
    }

    //Text in image, foodora
    .textInImage {
        position: relative;
        bottom: 150px;

        h1 {
            color: $color-white;
            font-weight: $weight-bold;
            margin-left: 20px;
        }
    }

    //Cropped image
    .cropped {
    width: 1064px; /* width of container */
    height: 140px; /* height of container */
    object-fit: cover; /* fit image in container */
    background-color: $color-blueblack;

    }

}



 /* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media only screen and (max-width: 375px){

    img{
        width: 100%;
    }

    .search-container {
      float: none;
    }
    .nav-item1{
        padding-left: 0px !important;
        max-height:80px;
        .hamburger{
            width: 50px;
            position: relative;
            left:280px;
            bottom: 30px;
            img{
                max-width: 50px;
            }
        }
    }
    .nav-item2{
        display: none;
    }
    .nav-item3{
        display: none;
    }



    .grid-container{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        .grid-item{
            position: relative;
            width: 100%;
        }
        .article1-mobile{
            grid-column: 1;
            grid-row:1;

        }
        .article2-mobile{
            grid-column: 1;
            grid-row:2;
        }
        .article3-mobile{
            grid-column: 1;
            grid-row:3;
        }
        .article4-mobile{
            grid-column: 1;
            grid-row:4;
        }
    }
    .content-container{
        padding-top: 10px;
        .cropped{
            width:100%;
        }
    }
}
